# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
build/
.env

# DB
*.db

# IDE
.vscode/
.idea/

# Binary artifacts
# Ensure generated archives stay out of version control
*.zip
*.pdf
*.vpp
*.dat

# Java
*.class
/target/
